:insert
/*-----------------------------------------------------
 File Name :
 Creation Date :
 Created By :  
-----------------------------------------------------*/
package name

public class Name 
{
    public static void main(String[] args)
    {
        
    }
}

.
