:insert
#!/usr/bin/env python
# -*- coding:UTF-8 -*-
# -----------------------------------------------------
# File Name :
# Purpose :
# Creation Date :
# Last Modified :
# Created By :  
# -----------------------------------------------------

if __name__ == "__main__":
    pass	
.
